body {
	padding: 0;
	margin: 0;
	width: 200px;
	height: max-content;
	text-align: center;
	background-color: #222222;
	border: 1px solid rgb(117, 117, 117);
	padding: 20px 0 15px; /* left&right top&bottom */
}

.centered {
	text-align: center;
}

.container {
	width: 100%;
}

.separator {
	width: 100%;
	height: 20px;
}

#title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	margin: 0;
	font-size: 25px;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1.5px;
	letter-spacing: 1.5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 45px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
	transition: .2s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 32px;
	width: 32px;
	left: 10px;
	bottom: 7px;
	background-color: whitesmoke;
	transition: .2s;
	border-radius: 50%;
}

.switch[checked] > #slider {
	background-color: #FFA300;
}

.switch:focus > #slider {
	box-shadow: 0 0 1px #FFA300;
}

.switch[checked] > #slider:before {
	transform: translateX(48px);
}

.noTransition, .noTransition:before {
	transition: none !important;
}

#infoText {
	color: whitesmoke;
	font-size: 16px;
	user-select: none;
	text-align: left;
	width: 100%;
	margin-left: 25px;
}

a {
	color: #8ab4f8;
    text-decoration: none;
}

a:hover, a:active { text-decoration: underline; }

a:active { color: #6d8ec4; }
